{% extends "admin/base_site.html" %}
{% block content %}
<div id="content" class="colM delete-confirmation">
  <form method="post" action="">
    {% csrf_token %}
    <div>
      
      <h2>Are you sure you want to merge the following components?</h2>
      {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
      <ul><li>Component: {{obj}}</li></ul>
      {% endfor %}
    </div>
    <input type="hidden" name="post" value="yes" />
    <input name="action" type="hidden" value="merge_components" />
    <input type="submit" value="Yes, I'm sure">
    <a href="/admin/cvdp/component/" class="button cancel-link">No, take me back</a>
    </form>    
    <br class="clear">
    <div id="footer"></div>
</div>
{% endblock %}
